#hello-page{
        padding: 1rem;
}
.title, .introduction, .button {
	margin-bottom: 1rem;
}

/* CEDRIC : permet de centrer un tableau */
.tabcenter{
   margin-left:auto;
   margin-right:auto;
   border:0;
}

.tabperiodes{
   margin-left:auto;
   margin-right:auto;
   border:1;
}

button.taille_bouton{
   width:218px;
}


th {
  text-align: center;

}
th span.gauche {
  float: left;
  padding-left:25px;
}
th span.droite {
  float: right;
  padding-right:25px;
}

td {
  text-align: center;

}
td span.gauche {
  float: left;
  padding-left:50px;
}
td span.droite {
  float: right;
  padding-right:50px;
}
td span.gras {
	font-weight:bold;
	color:#762572;
}


IMG.centree {
    display: block;
    margin-left: auto;
    margin-right: auto }

td.equipe	{
	font-weight: bold;	
	text-align:center	}

td.score	{
	font-weight: bold;
	text-align:center;
	color:#762572	
	}

td.suivi-joueur	{
	font-weight: bold;
	text-align:center;
	color:#762572	
	}
	
td.periodes	{
	color:#762572;
	}

.is-hidden {
	display: none;
}

.img-cordova {
	display: block;
	margin: 0 auto;
}

.cordova-indicator {
	text-align: center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

